@import "tailwindcss";

@theme {
  --color-brand-50: #eff6ff;
  --color-brand-100: #dbeafe;
  --color-brand-500: #3b82f6;
  --color-brand-600: #2563eb;
  --color-brand-900: #1e3a8a;

  --color-glass-border: rgba(255, 255, 255, 0.4);
  --color-glass-bg: rgba(255, 255, 255, 0.75);
}

.modal-overlay {
    background: rgba(15, 23, 42, 0.4);
    backdrop-filter: blur(4px);
}
